<h1 style="text-align:center;">The Hotest Products</h1>

<table class="table table-hover">
  <thead> 
    <tr style="text-align:center;">
      <td> # </td>
      <td> 名稱 </td>
      <td> 尺寸 </td>
      <td> 價錢 </td>
    </tr>
  </thead>
  <tbody>
      <% @hotest_products.each do | hotest | %>
        <tr style="text-align:center;">
          <td><%= hotest.id %></td>
          <td><%= hotest.name %></td>
          <td>
            <% this_product_size = [] %>
            <% hotest.inventories.each do | inventory | %> 
              <% this_product_size << inventory.size %>
            <% end %>
            <% this_product_size.uniq.each do | size | %>
              <%= size %>
            <% end %>
          </td>
          <td><%= hotest.price %></td>
        </tr>
      <% end %>
  </tbody>
</table>